.board {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 3.5rem;
}

button {
    padding: 5px;
    font-family: monospace;
    font-size: 0.85rem;
}
.buttons {
    display: flex;
    justify-content: center;
    gap: 4px;
}